<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pictures</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="mb-3">
            <input class="form-control" type="file" id="formFile">
        </div>
        <% if (pictures.length > 0) { %>
            <!-- <p>have more then one picture in it!!</p> -->
            <% pictures.forEach(function(picture){ %>
                <div class="text-center">
                  <img class="mb-3" src="data:image/png; base64, <%=picture.src%>" style="width:500px">
                  <h4><%=picture.name%></h4>
                </div>
            <% });%>
        <% } else { %>
            <!-- <p>have only one picture !!</p> -->
            <div class="text-center">
                <img class="mb-3" src="data:image/png; base64, <%=pictures.src%>" style="width:500px">
                <h4><%=pictures.name%></h4>
              </div>
        <% } %>
        
        <script src="../javascripts/pictures.js"></script>
    </body>
</html>